parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method addAttribute\\(\\) on Suin\\\\RSSWriter\\\\SimpleXMLElement\\|null\\.$#"
			count: 8
			path: src/Channel.php

		-
			message: "#^Cannot call method importNode\\(\\) on DOMDocument\\|null\\.$#"
			count: 1
			path: src/Channel.php

		-
			message: "#^Cannot call method importNode\\(\\) on DOMDocument\\|null\\.$#"
			count: 1
			path: src/Feed.php

		-
			message: "#^Cannot call method addAttribute\\(\\) on Suin\\\\RSSWriter\\\\SimpleXMLElement\\|null\\.$#"
			count: 5
			path: src/Item.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Item\\:\\:categories\\(\\) has parameter \\$categories with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Item.php

		-
			message: "#^Property Suin\\\\RSSWriter\\\\Item\\:\\:\\$categories \\(array\\<int, string\\>\\) does not accept array\\<int, array\\<int, string\\|null\\>\\|string\\>\\.$#"
			count: 1
			path: src/Item.php

		-
			message: "#^Cannot call method createCDATASection\\(\\) on DOMDocument\\|null\\.$#"
			count: 1
			path: src/SimpleXMLElement.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\SimpleXMLElement\\:\\:addCdataChild\\(\\) should return Suin\\\\RSSWriter\\\\SimpleXMLElement but returns static\\(Suin\\\\RSSWriter\\\\SimpleXMLElement\\)\\|null\\.$#"
			count: 1
			path: src/SimpleXMLElement.php

		-
			message: "#^Parameter \\#1 \\$node of function dom_import_simplexml expects SimpleXMLElement, static\\(Suin\\\\RSSWriter\\\\SimpleXMLElement\\)\\|null given\\.$#"
			count: 1
			path: src/SimpleXMLElement.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:dataForAsXML\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testAddItem\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testAppendTo\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testAppendTo_with_items\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testAsXML\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testAsXML\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testAsXML\\(\\) has parameter \\$expect with no type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testCopyright\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testDescription\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testFeedUrl\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testLanguage\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testLastBuildDate\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testPubDate\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testPubsubhubbub\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testTitle\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testTtl\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Method Suin\\\\RSSWriter\\\\Test\\\\ChannelTest\\:\\:testUrl\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Parameter \\#1 \\$feed of method Suin\\\\RSSWriter\\\\Channel\\:\\:appendTo\\(\\) expects Suin\\\\RSSWriter\\\\FeedInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Parameter \\#1 \\$item of method Suin\\\\RSSWriter\\\\Channel\\:\\:addItem\\(\\) expects Suin\\\\RSSWriter\\\\ItemInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 1
			path: tests/ChannelTest.php

		-
			message: "#^Parameter \\#1 \\$originalClassName of method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 5
			path: tests/ChannelTest.php

		-
			message: "#^Parameter \\#2 \\$actualXml of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertXmlStringEqualsXmlString\\(\\) expects string, string\\|false given\\.$#"
			count: 2
			path: tests/ChannelTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringContainsString\\(\\) expects string, string\\|false given\\.$#"
			count: 3
			path: tests/ChannelTest.php

		-
			message: "#^Unable to resolve the template type RealInstanceType in call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\)$#"
			count: 5
			path: tests/ChannelTest.php

		-
			message: "#^Parameter \\#1 \\$channel of method Suin\\\\RSSWriter\\\\Feed\\:\\:addChannel\\(\\) expects Suin\\\\RSSWriter\\\\ChannelInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 1
			path: tests/FeedTest.php

		-
			message: "#^Parameter \\#1 \\$originalClassName of method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 10
			path: tests/FeedTest.php

		-
			message: "#^Unable to resolve the template type RealInstanceType in call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\)$#"
			count: 10
			path: tests/FeedTest.php

		-
			message: "#^Parameter \\#1 \\$channel of method Suin\\\\RSSWriter\\\\Item\\:\\:appendTo\\(\\) expects Suin\\\\RSSWriter\\\\ChannelInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 1
			path: tests/ItemTest.php

		-
			message: "#^Parameter \\#1 \\$originalClassName of method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 1
			path: tests/ItemTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringContainsString\\(\\) expects string, string\\|false given\\.$#"
			count: 6
			path: tests/ItemTest.php

		-
			message: "#^Parameter \\$categories of class Suin\\\\RSSWriter\\\\Item constructor expects array\\<int, string\\>, array\\<int, array\\<int, string\\|null\\>\\> given\\.$#"
			count: 1
			path: tests/ItemTest.php

		-
			message: "#^Unable to resolve the template type RealInstanceType in call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\)$#"
			count: 1
			path: tests/ItemTest.php
